<div class="container__big-card">
    <div class="big-card__photo">
      <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqxwd1R2LtE_OZMoLXb3gAXaJVwK--0OTA6w&usqp=CAU"
      alt=""
      width="100%"
      height="200px"
      srcset="">
    </div>
    <div class="big-card__title">
      <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="big-card__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis euismod justo, id dapibus nisi mattis nec.
        Nulla facilisi. Suspendisse potenti. Proin nec tortor eu velit convallis fringilla.Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Quisque convallis euismod justo, id dapibus nisi mattis nec. Nulla facilisi. </p>
    </div>
</div>
